{% extends 'app-shell.html' %}
{% load static %}
{% load pwa %}


{% block title %}Home{% endblock title%}

{% block content %}
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                  
                    <img src="{% static 'img/hero.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span>Canadian Coding</span></h3>
                      <h5 class="slide-text animated fadeIn">A web development company that also creates informative articles. Proudly canadian, eh.</h5>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- Services Section Start -->
    <section id="services" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Development Services</h2>
          </div>
        </div>
        <div class="row">
          <!-- Start Service Icon 1 -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
              <div class="service-icon">
                <i class="fa fa-cogs"></i>
              </div>
              <div class="service-content">
                <h4><a href="/services">Web Development</a></h4>
                <p>
                  Any custom development of Websites or Webapps
                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 1 -->

          <!-- Start Service Icon 2 -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
              <div class="service-icon">
                <i class="fa fa-cubes"></i>
              </div>
              <div class="service-content">
                <h4><a href="/services">Content Development</a></h4>
                <p>
                  Content creation, refactoring, and optimization.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 2 -->

          <!-- Start Service Icon 3 -->
          <div class="col-md-6 col-lg-4 col-xs-12">
            <div class="service-box">
              <div class="service-icon">
                <i class="fa fa-tachometer"></i>
              </div>
              <div class="service-content">
                <h4><a href="/services">Consultation and Support</a></h4>
                <p>
                  Supporting existing systems or consulting on existing contracts.
                </p>
              </div>
            </div>
          </div>
          <!-- End Service Icon 3 -->
        </div>
      </div>
    </section>
    <!-- Services Section End -->

<!-- Call to action Section -->
<section class="call-to-action-section" style="background:black;">
    <div class="container">
      <div class="row justify-content-between">
          
        <div class="col-8 text-left wow animated fadeInLeft" data-wow-delay=".2s" >
            <h1>Looking to Hire us?</h1>
            <h3>Have some work that needs doing and want us to do it?</h3>
        </div>

        <div class="col-4 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s">
            <a href="/services#contactForm" class="btn btn-border animated fadeInUp"> Contact us</a>
        </div>
        
      </div>
    </div>
  </section>
  <!-- Call to action Section End -->
    
    <!-- Services Section Start -->
    <section id="services" class="section-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Our Learning Services</h2>
            </div>
          </div>
          <div class="row">
            <!-- Start Service Icon 1 -->
            <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cogs"></i>
                </div>
                <div class="service-content">
                  <h4><a href="/posts">Project Showcases</a></h4>
                  <p>
                    Showcasing community projects such as python modules, standalone framweorks and more.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Icon 1 -->
  
            <!-- Start Service Icon 2 -->
            <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-cubes"></i>
                </div>
                <div class="service-content">
                  <h4><a href="/posts">Language Essentials</a></h4>
                  <p>
                    Looking at lesser-known built in features of languages, and techniques that are useful.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Icon 2 -->
  
            <!-- Start Service Icon 3 -->
            <div class="col-md-6 col-lg-4 col-xs-12">
              <div class="service-box">
                <div class="service-icon">
                  <i class="fa fa-tachometer"></i>
                </div>
                <div class="service-content">
                  <h4><a href="/posts">Language Overviews</a></h4>
                  <p>
                    A quick, and high level look at language syntax, type disciplines, and other basic essentials.
                  </p>
                </div>
              </div>
            </div>
            <!-- End Service Icon 3 -->
          </div>
        </div>
      </section>
      <!-- Services Section End -->


<!-- Call to action Section -->
      <section class="call-to-action-section" style="background:green;">
        <div class="container">
          <div class="row justify-content-between">
            <div class="col-8 text-left wow animated fadeInLeft" data-wow-delay=".2s">
                <h1>Here to learn?</h1>
                <h3>We have a wide selection of articles available.</h3>
            </div>
            <div class="col-4 mt-4 text-right wow animated fadeInRight" data-wow-delay=".3s">
                <a href="/posts" class="btn btn-border animated fadeInUp">See post catalogue</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Call to action Section End -->



{% endblock content %}