{% extends 'app-shell.html' %}

{% load markdown_extras %}
{% load static %}

{% block title %} {{post.title}} | post{% endblock %}

{% block content %}

<style>

#social-media-links{
    width: 400px;
    height: 40px;
    position: relative;
    border-radius: 100%;
}
a>ion-icon{
    position: absolute;
    font-size:30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

</style>

<!--HighlightJS loading-->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>


<div class="col s12 m11 l10">
        <div class="card">
            <div class="card-image center-align"  style="width:100%;">
                {% if post.language == "python"%}
                <img src="{% static 'img/post-banners/python-post-banner.png' %}" style="width:100%;">
                    
                {% elif post.language == "go"%}
                    <img src="{% static 'img/post-banners/go-post-banner.png' %}" style="width:100%;">

                {% elif post.language == "javascript"%}
                    <img src="{% static 'img/post-banners/javascript-post-banner.png' %}" style="width:100%;">

                {% else %}
                    <img src="{% static 'img/post-banners/post-banner.png' %}" style="width:100%;">
                
                {% endif %}


            </div>

            
            <div class="card-content">
            </br>
                <p>Check out canadian coding on social media</p>
                <div id="social-links">
                    <a id="source-code" class="waves-effect waves-light btn btn-floating black" style="display: inline-block;" href="//github.com/canadian-coding"> <ion-icon name="logo-github"></ion-icon> </a>
                    <a id="instagram" class="waves-effect waves-light btn btn-floating" style="display: inline-block;" href="//instagram.com/canadiancoding"> <ion-icon name="logo-instagram"></ion-icon> </a>
                </div>
                <div id="markdown-content">
                    {{post.content|markdown|safe}}
                </div>
                    </br>
                        <p>View source and corresponding instagram post</p>
                    </br>
                <div id="social-media-links">
                    <a id="source-code" class="waves-effect waves-light btn btn-floating black pulse" style="display: inline-block;" href="{{post.github_source}}"> <ion-icon name="logo-github"></ion-icon> </a>
                    <a id="instagram" class="waves-effect waves-light btn btn-floating" style="display: inline-block;" href="{{post.instagram_link}}"> <ion-icon name="logo-instagram"></ion-icon> </a>
                </div>
            </div>
            
            <div class="card-action">
            Language(s): <p>{{post.language|capfirst}}</p>
            Post created: {{post.created}} Last Updated {{post.last_modified}}
            </br>
            <a class="btn green darken-3" href="/posts" style="margin:7px;">Go back to all posts</a>
            </div>
        </div>
      </div>


{% endblock content %}



