{% extends 'app-shell.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block navlinks %}
              <li class="nav-item">
                <a class="nav-link" href="/">
                  Home
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/posts">
                  Posts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">
                  Services
                </a>
              </li>
{% endblock navlinks %}

{% block content %}
      <!-- sliders -->
      <div id="sliders">
        <div class="full-width">
          <!-- light slider -->
          <div id="light-slider" class="carousel slide">
            <div id="carousel-area">
              <div id="carousel-slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                  
                    <img src="{% static 'img/posts/hero.jpg' %}" alt="">
                    <div class="carousel-caption">
                      <h3 class="slide-title animated fadeInDown"><span>Canadian Coding</span></h3>
                      <h5 class="slide-text animated fadeIn">Want to up your development game? You've come to the right place.</h5>
                      <a href="#portfolio" class="btn btn-lg btn-common animated fadeInUp page-scrolly">See our post catalogue</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End sliders -->

    </header>
    <!-- Header Area wrapper End -->

    <!-- About Section Start -->
    <div id="about" class="section-padding">
      <div class="container">
        <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Post Categories</h2>
        <div class="row">
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="about block text-center">
              <img src="{% static 'img/about/award.svg' %}" alt="project-showcase">
              <h5><a href="#">Project Showcase</a></h5>
              <p>Showcasing community projects such as python modules, standalone framweorks and more.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="about block text-center">
              <img src="{% static 'img/about/book.svg' %}" alt="language-essentials">
              <h5><a href="#">Language Essentials</a></h5>
              <p>Looking at lesser-known built in features of languages, and techniques that are useful.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-xs-12">
            <div class="about block text-center">
              <img src="{% static 'img/about/thumbs-up.svg' %}" alt="language-overview">
              <h5><a href="#">Language Overview</a></h5>
              <p>A quick, and high level look at language syntax, type disciplines, and other basic essentials.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About Section End -->

    <!-- facts Section Start -->
    <div id="counter">
      <div class="container">
        <div class="row count-to-sec">

          <div class="col-lg-3 col-md-6 col-xs-12 count-one">
            <span class="icon"><i class="fa fa-calendar"> </i></span>
            <h3 class="timer count-value" data-to="4" data-speed="1000">4</h3>
            <hr class="width25-divider">
            <small class="count-title">Months of Posting</small>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12 count-one">
            <span class="icon"><i class="fa fa-code"> </i></span>
            <h3 class="timer count-value" data-to="6" data-speed="1000">6</h3>
            <hr class="width25-divider">
            <small class="count-title">Languages</small>
          </div>

          <div class="col-lg-3 col-md-6 col-xs-12 count-one">
            <span class="icon"><i class="fa fa-file"> </i></span>
            <h3 class="timer count-value" data-to="30" data-speed="1000">30</h3>
            <hr class="width25-divider">
            <small class="count-title">Posts Created</small>
          </div>
      
          <div class="col-lg-3 col-md-6 col-xs-12 count-one">
            <span class="icon"><i class="fa fa-desktop"> </i></span>
            <h3 class="timer count-value" data-to="4546" data-speed="1000">4,546</h3>
            <hr class="width25-divider">
            <small class="count-title">Lines of code written</small>
          </div>
        </div>
      </div>
    </div>
    <!-- facts Section End -->
  
    <!-- Portfolio Section -->
    <section id="portfolio" class="section-padding">
      <!-- Container Starts -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="section-title wow fadeInDown animated" data-wow-delay="0.3s">Recent Posts</h2>
          </div>
        </div>

        

        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!-- Portfolio Controller/Buttons -->
            <div class="controls text-center wow fadeInUpQuick" data-wow-delay=".6s">
              <a class="filter active btn btn-portfolio" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-portfolio" data-filter=".python">
                Python 
              </a>
              <a class="filter btn btn-portfolio" data-filter=".go">
                Go
              </a>
              
              <a class="filter btn btn-portfolio" data-filter=".processing">
                Processing 
              </a>

              <a class="filter btn btn-portfolio" data-filter=".javascript">
                Javascript 
              </a>
          
              <a class="filter btn btn-portfolio" data-filter=".c">
                c 
              </a>

            <!-- TODO: Uncomment when needed
              <a class="filter btn btn-portfolio" data-filter=".rust">
                Rust 
            </a> -->
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          
          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row wow fadeInUpQuick" data-wow-delay="0.8s">
            {% for post in posts reversed %}

            {% if post.language == "python"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix python">
                    
            {% elif post.language == "go"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix go">

            {% elif post.language == "javascript"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix javascript">
            
            {% elif post.language == "c"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix c">

            {% elif post.language == "processing"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix processing">

            {% elif post.language == "rust"%}
                <div class="col-lg-4 col-md-6 col-xs-12 mix rust">

            {% else %}
                <div class="col-lg-4 col-md-6 col-xs-12 mix">
            
            {% endif %}
            


              <div class="portfolio-item">
                <div class="portfolio-img">
                  <div class="post-type centered" style="font-size: 15px;"><!-- TODO: Find way to properly filter the category{{post.category|title}}--></div>
                  <div class="post-heading centered" style="font-size:25px;">{{post.title|truncatechars:75}}</div>
                  <div class="post-sub-heading centered" style=" margin-top:25px;">{{post.subheading|truncatechars:125}}</div>
                  {% if post.language == "python"%}
                    <img src="{% static 'img/posts/python-card-layout.png' %}" alt="python-post-image" />
                        
                  {% elif post.language == "go"%}
                    <img src="{% static 'img/posts/go-card-layout.png' %}" alt="go-post-image" />

                  {% elif post.language == "javascript"%}
                    <img src="{% static 'img/posts/javascript-card-layout.png' %}" alt="javascript-post-image" />

                  {% elif post.language == "c"%}
                    <img src="{% static 'img/posts/c-card-layout.png' %}" alt="c-post-image" />

                  {% elif post.language == "processing"%}
                    <img src="{% static 'img/posts/processing-card-layout.png' %}" alt="processing-post-image" />

                  {% else %}
                    <img src="{% static 'img/posts/card-layout.png' %}" alt="post-image" />
                
                  {% endif %}
                  
                </div>
                <div class="portfoli-content">
                  <div class="sup-desc-wrap">
                    <div class="sup-desc-inner">
                      <div class="sup-link">
                        <a class="left-link" href="/posts/details/{{post.id}}"><i class="fa fa-link"></i></a>
                        <a class="right-link" href="{{post.github_source}}" target="_blank"><i class="fa fa-github"></i></a>
                      </div>
                      <div class="sup-meta-wrap">
                        <a class="sup-title" href="/posts/details/{{post.id}}">
                          <h4 style="font-size">{{post.title|truncatechars:75}}</h4>
                        </a>
                        <p class="sup-description">{{post.subheading|truncatechars:125}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}

            </div>
          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends -->
{% endblock content %}
