{% extends 'posts_template.html' %}

{% block title %} Home {% endblock %}

{% block content %}


<h1 class="center-align"> Posts </h1>

<div class="row">
{% for post in posts %}

      <div class="col s12 m6 l4">
            <div class="card large horizontal">
                <div class="card-image valign-wrapper">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1024px-Python-logo-notext.svg.png" style="max-height:225px;">
                </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <h3>{{post.title|truncatechars:75}}</h3>
                            <p class="flow-text body-preview" style="padding:5px;">{{post.subheading|truncatechars:125}}</p>
                        </div>
                        
                    
                        <div class="card-action">
                                <p>Language: {{post.language|capfirst}}</p>
                                <a class="waves-effect waves-light green darken-3 btn" href="/posts/details/{{post.id}}" >Go To Post</a>
                        </div>
                    </div>
            </div>
        </div>

{% endfor %}
</div>


{% endblock content %}