{% extends 'app-shell.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}

<style>
.card{
    
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
</style>

<h1 class="center-align"> Posts </h1>

<div class="row">
{% for post in posts %}
      <div class="col s12 m12 l4">
            <div class="post-card">

            {% if post.language == "python"%}
                <div class="card medium" style="background-image: url({% static 'img/card-layouts/python-card-layout.png' %});">
                    
            {% elif post.language == "go"%}
                <div class="card medium" style="background-image: url({% static 'img/card-layouts/go-card-layout.png' %});">

            {% elif post.language == "javascript"%}
                <div class="card medium" style="background-image: url({% static 'img/card-layouts/javascript-card-layout.png' %});">

            {% else %}
                <div class="card medium" style="background-image: url({% static 'img/card-layouts/card-layout.png' %});">
            
            {% endif %}

            
                
                    <div class="card-stacked">
                        
                        
                        <div class="card-content center-align">
                        
                            <h4 style="margin-left:45px;margin-top:45px;">{{post.title|truncatechars:75}}</h4>
                            <p class="flow-text body-preview" style="margin-top:-5px;">{{post.subheading|truncatechars:125}}</p>
                        </div>
                        
                    
                        <div class="card-action">
                                <p>Language: {{post.language|capfirst}}</p>
                                <a class="waves-effect waves-light green darken-3 btn" href="/posts/details/{{post.id}}" >Go To Post</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>

{% endfor %}
</div>


{% endblock content %}