<!DOCTYPE html>
<html>
{% load static %}
{% load pwa %}
<head>
    
    <!-- Manifest and Metadata-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home | Canadian Coding</title>
    <link rel='shortcut icon' href="{% static 'img/icons/favicon.ico' %}" type='image/x-icon'/>
    <meta name="description" content="Welcome to canadiancoding.ca a site with development tips for humans.">

    <!-- TODO: Opengraph data -->
    
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Canadian Coding">
    <meta name="twitter:description" content="Welcome to kieranwood.ca if you are looking to inquire about website/webapp development you've come to the right place.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{% static 'img/canadian-coding-logo.png' %}">
    <meta property="og:image" content="{% static 'img/canadian-coding-logo.png' %}"> 

    <!-- PWA manifest data -->
    {% progressive_web_app_meta %}

    <!-- TODO: Stylesheets -->
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
    .sidenav li>a{
        color:#f0f0f0;
    }
    ion-icon{
        font-size:35px;
    } 

    #social-links{
    width: 400px;
    height: 40px;
    position: relative;
    border-radius: 100%;
    }
    a>ion-icon{
        position: absolute;
        font-size:30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline;
    }
    #github{
      background:#141414;
    }
    #instagram{ 
      width:40px; height:40px;
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }
    </style>
</head>

<body>
    
    <!-- Navigation Menu -->
    
    <nav>
    <div class="nav-wrapper grey darken-4">
      <a href="/" class="brand-logo green-text darken-3">Canadian Coding</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><ion-icon name="menu"></ion-icon></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="//instagram.com/canadiancoding/">Instagram</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav black" id="mobile-demo">
    <li><a href="/">Home</a></li>
    <li><a href="/posts">Posts</a></li>
    <li><a href="//instagram.com/canadiancoding/">Instagram</a></li>
  </ul>
    
    <!-- Page Content -->
      <div class="content" style="min-height:700px;">
        <div class="row">
          <div class="col s12 flow-text center-align"><h1> Welcome to canadiancoding.ca</h1></div>

          <div class="col s12 flow-text center-align"><h4> Here are some marketing buzzwords to make it sound like I care..</h4></div>




          
          <div class="col s4">1/3rd</div>


          <div class="col s4">
            <div class="card sticky-action">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{% static 'img/icons/canadian-coding-logo.png' %}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">Proudly Canadian</span>
                </div>
                <div class="card-action">
                  <span class="card-title activator grey-text text-darken-4">Click to read more</span>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Proudly Canadian<ion-icon name="close"><ion-icon></span>
                  <p>Just out for a rip are ya bud?</p>
                </div>
              </div>        
            </div>
          </div>


          <div class="col s4">1/3rd</div>
          <div class="col s12 m12 l12 center-align white-text green darken-3 z-depth-3"> 
            <div class="col s12 m12 l12">
              <p class="center-align flow-text">z-depth-5</p>
            </div>
          
          <a href="/posts" class="center-align waves-effect waves-light btn-large white black-text ">View Posts</a></div>
          </br>
          
        </div>
        
        
      </div>

    
    
    <!-- Footer -->
    <footer class="page-footer grey darken-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="green-text darken-3">Canadian Coding</h5>
                <p class="grey-text text-lighten-4">Creating useful coding content for humans.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Social Media</h5>
                
                  <div id="social-nav-links">
                    <a id="github" class="waves-effect waves-light btn btn-floating" style="display: inline-block;" href="//github.com/canadian-coding"> <ion-icon name="logo-github"></ion-icon> </a>
                    <a id="instagram" class="waves-effect waves-light btn btn-floating" style="display: inline-block;" href="//instagram.com/canadiancoding"> <ion-icon name="logo-instagram"></ion-icon> </a>
                  </div>
                
                


                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/posts">Posts</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Privacy</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 Canadian Coding
            </div>
          </div>
        </footer>
    
    <!-- Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
    // For procing the nav mobile menu
    var elem = document.querySelector('.sidenav');
    var instance = new M.Sidenav(elem);

    </script>
    
</body>

</html>