{% extends 'app-shell.html' %}
{% load static %}
{% load pwa %}


{% block title %}Home{% endblock title%}

<style>
    


    .card-content{
      height:75px;
    }

    .card{
      height:550px;
      margin: 35px;
      max-width: 90%;
      
    }

    .card-image img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-height:300px;
      max-width:300px;
    }

        

</style>
<!-- Page Content -->
{% block content %}
    
  
  <div class="content">

  <div class="tablet-mobile-hero hide-on-large-only grey darken-4 center-align z-depth-5" style="margin-top:-45px;">

    <h1 class="green-text darken-3 " style="font-size:75px; padding-bottom:25px;">Welcome to Canadian Coding</h1>
  </div>

  <div class="parallax-container hide-on-med-and-down " style="height:900px;background-color: rgba(0, 0, 0, 0.3);">
          <div class="parallax z-depth-3"><img src="{% static 'img/mount-robson.jpg' %}" style="height:1200px; width:100%;opacity: 0.7;"></div>
          <div class="green-text darken-3 z-depth-2" style="text-align:center; margin-top:350px; height:150px;"><h1 style="font-size:100px;">Welcome to Canadian Coding</h1></div>
        </div>
        <p class="hide-on-med-and-down" style="margin-left:15px">Mount Robson Canada: image by <a href="https://unsplash.com/photos/HFbnIMpYbcc">Nick Saxby </a></p>
    <div class="row">
      <div class="col s12 flow-text center-align">
        
      
      
      

      <!-- Cards -->
      <div class="col s12 m6 l4">
        <div class="card grey lighten-5" style="height:650px; margin:20px; max-width:90%;">
          <div class="card-image">
            <img src="{% static 'img/icons/web-tag-icon.svg' %}"  style="max-width:500px;display: block;margin-left: auto;margin-right: auto;max-height:500px;">
          </div>
          <div class="card-content center-align">
            <span class="card-title"><h4>Multilanguage</h4></span>
            <p style="font-size:15px;">Posts featured on this website encompass multiple languages including: python, go, javascript and many more.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey lighten-5" style="height:650px; margin:20px; max-width:90%;">
          <div class="card-image">
            <img src="{% static 'img/icons/canadian-coding-logo.png' %}"  style="max-width:500px;display: block;margin-left: auto;margin-right: auto;max-height:500px;">
          </div>
          <div class="card-content center-align">
            <span class="card-title"><h4>Proudly Canadian</h4></span>
            <p style="font-size:15px;">Just out for a code are ya bud?</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l4">
        <div class="card grey lighten-5" style="height:650px; margin:20px; max-width:90%;">
          <div class="card-image">
            <img src="{% static 'img/icons/logo-github.svg' %}" style="max-width:500px;display: block;margin-left: auto;margin-right: auto;max-height:500px;">
          </div>
          <div class="card-content center-align">
            <span class="card-title"><h4>Open Source</h4></span>
            <p style="font-size:15px;">This whole website and every post are all entirely open source. Look for the github logo at the bottom of each post.</p>
          </div>
        </div>
      </div>
    </div>
  
      <!-- Banner -->

      <div class="col s12 m12 l12 center-align white-text green darken-3 z-depth-3" style="height:175px; margin-bottom:-25px; width:100%;"> 
        <div class="col s12 m12 l12">
          <p class="center-align flow-text">Check out our selection of posts!</p>
        </div>
        <a href="/posts" class="center-align waves-effect waves-light btn-large white black-text">View Posts</a></div>
      </div>
    </div> <!-- End of content div -->

    <script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);});
    
    </script>

{% endblock content %}