{% extends 'app-shell.html' %}

{% load markdown_extras %}
{% load static %}

{% block title %} {{post.title}} | Post{% endblock %}

{% block navlinks %}
              <li class="nav-item">
                <a class="nav-link" href="/">
                  Home
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/posts">
                  Posts
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/services">
                  Services
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/courses">
                  Courses
                </a>
              </li>
{% endblock navlinks %}

{% block content %}

<style>

.navbar-nav .nav-link {
  color: #141414;
  font-size: 14px;
  margin-right: 18px;
  font-weight: 400;
  padding: 18px 0px;
}
#github{
      background:#141414;
    }
#instagram{ 
      width:40px; height:40px;
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    }

  .page-title-section{
    {% if post.language == "python"%}
    position:relative;background:url({% static 'img/post-banners/python-post-banner.png' %}) 
    
    {% elif post.language == "go"%}
    position:relative;background:url({% static 'img/post-banners/go-post-banner.png' %}) 

    {% elif post.language == "javascript"%}
    position:relative;background:url({% static 'img/post-banners/javascript-post-banner.png' %}) 

    {% elif post.language == "processing"%}
    position:relative;background:url({% static 'img/post-banners/processing-post-banner.png' %}) 

    {% elif post.language == "c"%}
    position:relative;background:url({% static 'img/post-banners/c-post-banner.png' %}) 

    {% else %}
    position:relative;background:url({% static 'img/post-banners/post-banner.png' %}) 
    
    {% endif %}
    
    no-repeat scroll center center;
    background-size:cover}
</style>

<!--HighlightJS loading-->
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

        <!-- Page Titile Area -->
        <section class="page-title-section section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-center">
                            <div class="title-middle">
                                <h2 class="page-tagline">{{ post.language }}</h2>
                                <h1 class="page-title" style="width: 350px;word-wrap: break-word;">{{ post.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Page Titile Area End -->

        <!-- Material Blog Post section -->
        <section class="Material-blog-post-page section-padding">
            <div class="container">
                <div class="row">
                    <!-- Single Blog Post -->
                    <div class="single-blog-page col-md-12 col-lg-8 col-xs-12">
                        <article class="single-post wow fadeInUp animated"  data-wow-delay=".2s">

                            <h2>{{ post.subheading }}</h2>
                            <h6 style="margin-top:-25px; font-size: 15px">{{post.category}}</h6>
                            <div id="markdown-content">
                              {{post.content|markdown|safe}}
                            </div>

                            {% if files %}
                            <h3>Files</h3>
                            {% for file in files %}
                            {% if post.language == "python"%}
                            <h5>{{file.title}}_demo.py</h5>

                            {% elif post.language == "go"%}
                            <h5>{{file.title}}Demo.go</h5>

                            {% elif post.language == "javascript"%}
                            <h5>{{file.title}}Demo.js</h5>

                            {% elif post.language == "processing"%}
                            <h5>/{{file.title}}/{{file.title}}Demo.pde</h5>

                            {% elif post.language == "c"%}
                            <h5>{{file.title}}_demo.c</h5>
                            
                            {% endif %}

                                <div id = "{{file.title}}-demo" style="height: 100%; width: 100%;">{{file.contents}}</div>
                                
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/ace.js" integrity="sha256-CVkji/u32aj2TeC+D13f7scFSIfphw2pmu4LaKWMSY8=" crossorigin="anonymous"></script>
                                
                                {% if post.language == "python"%}
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-python.js" integrity="sha256-MinL4s5SkQg5C0UzG79kKoTJMsTWOjdMX4v+i7bCPVI=" crossorigin="anonymous"></script>
                                
                                {% elif post.language == "go"%}
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-golang.js" integrity="sha256-seinyyHa2YgAOt1gV2W7eBd8UjbsOMcsRIiNPK31HZY=" crossorigin="anonymous"></script>

                                {% elif post.language == "javascript"%}
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-javascript.js" integrity="sha256-9nVHCZW1SuyhaVgqmPk1XutGn+g/ASVBiVAheioldo4=" crossorigin="anonymous"></script>

                                {% elif post.language == "processing"%}
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-java.js" integrity="sha256-1XEB2pIPtczUEj/9S7eq27qtCohpH125MWFxsf02bvU=" crossorigin="anonymous"></script> 

                                {% elif post.language == "c"%}
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.6/mode-c_cpp.js" integrity="sha256-eL+A+g74p1M4f0uZgCRQ+Oz/kMO+gM29SNAjoBStIWg=" crossorigin="anonymous"></script>
                                
                                {% endif %}
                                
                                
                                <script>
                                    var editor = ace.edit("{{file.title}}-demo",{
                                      theme: "ace/theme/monokai",
                                      mode: "ace/mode/python",
                                      minLines: 3,
                                      maxLines:100,
                                      wrap: true,
                                      autoScrollEditorIntoView: true
                                    });

                                    editor.setReadOnly(true);
                                </script>
                                <br>
                                <br>
                                {% endfor %} <!--End file iteration for loop-->
                          {% endif %} <!-- End if statement for if files-->
                            
                        </article>
                        <div>
                        </div>
                    </div>

                    <!-- Blog Sidebar -->
                    <div class="col-md-12 col-lg-4 col-xs-12 blog-sidebar-column">
                        <!-- Single Sidebar -->
                        <aside class="col-md-12 single-sidebar-widget author-widget no-padding wow animated fadeInUp"  data-wow-delay=".2s">
                            <div class="author-bg">
                                <img src="{% static 'img/posts/author-bg.png' %}" alt="{{ post.author.first_name }} {{ post.author.last_name }}" >
                            </div>
                            <div class="author-info">
                                <div class="author-name">
                                    <div class="author-intro">
                                        <h3>{{ post.author.first_name }} {{ post.author.last_name }}</h3>
                                        <p style="line-height:100%">{{ post.author.company }}<br>
                                        {{ post.author.title }}</p>
                                    </div>
                                    <div class="author-image">
                                        <img src="{% static 'img/posts/authors/kieran.png' %}" alt="" class="img-circle">
                                    </div>
                                </div>
                                <div class="author-bio">
                                    <p>{{ post.author.description }}</p>
                                </div>
                                <div class="author-social">

                                  <a href="{{ post.author.github_link }}" style="display: inline-block; width:35px; height:35px;" target="_blank">
                                    <img src="{% static 'img/icons/github-logo.png'%}">
                                  </a>

                                </div>
                            </div>
                        </aside>


                        <!-- Single Sidebar -->
                        <aside class="col-md-12 single-sidebar-widget flickr-widget no-padding wow animated fadeInUp"  data-wow-delay=".4s">
                            <div class="sidebar-widget-title">
                                <h2>Post Details</h2>
                            </div>
                            <ul class="categories-list">
                              <li>
                              <div class="single-post-meta">
                                <div id="post-metadata">
                                  <p>Language: {{post.language|capfirst}}</p>
                                  <p>Post created: {{post.created}} </br>Last Updated {{post.last_modified}}</p>
                              </div>
                            </div>
                              </li>
                              <li>
                                <a href="{{post.github_source}}" style="display: inline-block; width:35px; height:35px;" target="_blank">
                                    <img src="{% static 'img/icons/github-logo.png'%}">
                                </a>
                                <a href="{{post.instagram_link}}" style="display: inline-block; width:35px; height:35px;" target="_blank"> 
                                    <img src="{% static 'img/icons/instagram-logo.png'%}">
                                </a>
                              </li>
                            </ul>
                        </aside>

                </div>
            </div>
        </section>
        <!-- Material Blog Post section End -->




{% endblock content %}



